.navbar-brand {
    width: 101%;
    background: #003366;
    color: gray;
    display: inline-flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}

#datVisor {
    height: 150px;
    
}

.navbar-nav {
    flex: 1;
margin: auto !important;
display: inline;
justify-content: space-between;
}

.image-container {
    margin: 0%;
}