body {
    font-family: 'Delius', cursive;
}

.IdeaEnter {
    width: 90px;
    justify-content: center;
    margin: auto;
    background-color: #a97d5d;
    border-radius: 10px;
    padding: 4px 20px ;
    color: white;
    border: 0;
}

.IdeaInput {
    width: 250px;
    justify-content: center;
    margin: auto;
}